@media screen and (max-width: 768px) {
    .mid-form-section {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .form-tabs-section .nav-tabs {
        padding: 0 10px;
        margin: 0 0 20px 0;
    }

    .form-tabs-section .tab-form-section {
        padding: 0 10px;
    }

    .form-tabs-section .tab-form-section .col-div {
        width: 100%;
        padding: 0;
        margin: 0 0 25px 0;
    }

    .form-tabs-section .tab-form-section .col-div-right {
        width: 100%;
        padding: 0;
    }

    .form-tabs-section .tab-form-section .col-div-right span {
        left: 15px;
    }

    .address-info .main-head .address-check-panel {
        width: 43%;
    }

    .white-button {
        width: 100%;
    }

    .form-tabs-section .nav-tabs .nav-link {
        margin: 0 10px 0 0;
    }

    .form-tabs-section .tab-form-section .col-div .mandatory {
        right: 0px;
    }

    .client-listing-section {
        padding: 0 10px;
    }

    .client-profile-panel {
        padding: 12px 10px 29px 10px !important;
        margin: 12px 0 25px 0 !important;
    }

    .client-profile-panel .left-section {
        width: 100% !important;
    }

    .client-pic {
        display: none;
    }

    .client-profile-panel .left-section h1 {
        font-size: 20px !important;
        text-transform: uppercase;
    }

    .client-profile-panel .left-section .address-div {
        font-size: 16px !important;
        line-height: 32px;
    }

    .main-bg-section {
        background: #ffffff;
        .login-panel {
            width: 100%;
            border: 0;
            .sign_in_btn {
                .btn-social {
                    font-size: 15px;
                }
            }
        }
    }

    #page-content-wrapper {
        padding: 0;
        .container {
            padding: 0 0;
        }
    }

    .mid-form-section {
        margin: 0 auto 0 auto;
        .client-head {
            margin: 28px 0 28px 0;
        }
    }
}

@media screen and (max-width: 320px) {
    .main-bg-section .login-panel .sign_in_btn .btn-social {
        font-size: 13px;
        padding: 9px 3px 9px 67px;
    }

    .address-info .main-head .address-check-panel {
        width: 51%;
    }
}