.nav-bar-panel {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 9;
  .container-fluid {
    //   justify-content: left;
      .navbar-brand {
          margin: 0 0 0 15px;
      }
  }
}

.nav-left-section {
    width: auto;
    float: left;
}

.client-pic {
    img {
        width: 29px;
        height: 29px;
        float: left;
        border-radius: 50%;
        background-color: #fafafa;
        margin: -6px 10px 0 0;
    }
    button {
        font-family: $font-regular;
        font-size: 12px;
        letter-spacing: 1px;
        color: #595959;
        background: transparent;
    }
    .nav-link {
        font-size: 12px;
        letter-spacing: 1px;
        font-family: $font-regular;
        color: #595959;
    }
    .dropdown-menu {
        margin-top: 6px;
        right: 0px;
        border-top: 4px solid #3498db;
        border-radius: 0px;
        left: auto;
        padding: 4px 0;
        margin-right: -7px;
        background-color: #fafafa;
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            right: 11px;
            bottom: 100%;
            border-width: 0 10px 10px;
            border-bottom-color: #4a89dc;
        }
        button {
            font-size: 14px;
            color: #666666;
            text-align: center;
            letter-spacing: 0;
            a {
                color: #666666;
            }
            img {
                width: auto;
                height: auto;
                margin: -2px 5px 0 0;
                float: none;
            }
        }
    }
}

.dropdown-toggle::after {
    border-top: 4px solid #adadad;
    border-right: 3px solid transparent;
    border-bottom: 0;
    border-left: 3px solid transparent;
    margin: 0px 0 0 6px;
    position: relative;
    top: 3px;
}